{% extends 'base.html' %}


{% block content %}

    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    
{% endblock content %}


{% block extra_js %}

    <script>
        var marker;
        function initMap() {
            var my_location = {lat: 4.6743, lng: -75.7874781};
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 16, center: my_location});
            // The marker, positioned at Uluru
            marker = new google.maps.Marker({position: my_location, map: map});
        }

        const coordinatesSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/coordinates/'
        );

        coordinatesSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var latlng = new google.maps.LatLng(data.latitude, data.longitude);
            marker.setPosition(latlng);
        };

        coordinatesSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };


    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{GMAPS_API_KEY}}&callback=initMap">
    </script>
    
{% endblock extra_js %}
    
    